@use '../helpers/colors' as *;
@use '../helpers/mixins' as *;

.form {
    display: grid;
    gap: 10px;
    place-items: center;

    &__row {
        display: grid;
        gap: 10px;
        place-items: center;
    }

    &__label {

        // Модификатор - ошибка.
        &_error {
            //
        }
    }

    &__input {
        padding: 10px;
        border: 1px solid #000;
        font-size: 1rem;
        border-radius: 5px;

        &:hover,
        &:focus {
            //
        }

        // Модификатор - ошибка.
        &_error {

            &:hover,
            &:focus {
                //
            }
        }
    }

    &__error {
        //
    }

    &__btn {
        @include btn;
    }
}
